.weekly-slider {
  max-width: 1116px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
}
.weekly-slider div {
  padding: 20px 12px;
  cursor: pointer;
  font-size: 13.5px;
  color: #888888;
  letter-spacing: 0.15px;
  line-height: 20px;
}
.weekly-slider div:hover {
  border-bottom: solid 2px #0078f6;
}

/* weely slider article хэсэг  */

.weekly-articles {
  max-width: 1116px;
  height: 633px;
  margin: auto;
  display: flex;
  gap: 19px;
}
.slider-left {
  width: 50%;
}
.slider-left-top {
  width: 100%;
  height: 60%;
  background-color: #0078f6;
  background-image: url("https://unread.today/files/44/afeab33f538be623971deccac987aae9.png");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 19px;
}
.slider-left-bottom {
  width: 100%;
  height: 40%;
  display: flex;
  gap: 19px;
}
.slider-left-bottom-1 {
  width: 50%;
  height: 100%;
  background-color: #0078f6;
  background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/7ce634ec4edba6c1f3cc1dbe2b7bb2ab.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.slider-left-bottom-2 {
  width: 50%;
  height: 100%;
  background-color: #0078f6;
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/eadb0eb55f48f95c6aa58d5f38eaa854.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.slider-left-bottom div {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.slider-left-top {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.slider-right {
  width: 50%;
}
.slider-right-top {
  width: 100%;
  height: 45%;
  display: flex;
  gap: 19px;
  margin-bottom: 19px;
}
.slider-right-bottom {
  width: 100%;
  height: 55%;
  display: flex;
  gap: 19px;
}
.slider-right-top-1 {
  width: 50%;
  height: 100%;
  background-color: #0078f6;
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/daa36af8eb5b3dd2104682decab127f3.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.slider-right-top-2 {
  width: 50%;
  height: 100%;
  background-color: #0078f6;
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/63bf4e0c9a3c72b634be4f154a9a6277.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.slider-right-bottom-1 {
  width: 50%;
  height: 100%;
  background-color: #0078f6;
  background-image: url("https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/2039bd5e86a504555fe04cf8ff49bc7b.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.slider-right-bottom-2 {
  width: 50%;
  height: 100%;
  background-color: #0078f6;
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/b5fc15d2aeb59326cbb7feaa2d121c5b.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.slider-right-bottom div {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.slider-right-top div {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
/* text editting part  */
.weekly-articles p {
  border-radius: 7px;
  /* background-color: rgb(48, 76, 122); */
  color: rgb(255, 255, 255);
  font-size: 12.6px;
  font-weight: 500px;
  /* padding: 4px 11px; */
  text-align: end;
}
.weekly-articles h2 {
  color: rgb(255, 255, 255);
  font-size: 12.6px;
  font-weight: 400px;
  opacity: 0.6;
  text-align: left;
}
.weekly-articles h3 {
  color: rgb(255, 255, 255);
  font-size: 16.2px;
  font-weight: 700px;
  height: 40px;
  margin-top: 3px;
  text-align: left;
}
.text-back {
  width: 100%;
  background-color: #0078f6;
  padding: 16px 23px 20px 23px;
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */
}
